@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap');
/* components */
@import "components/reset.css";
@import "components/variable.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/icon-row.css";

/* screen */
@import "screen/login.css";
@import "screen/find.css";
@import "screen/friends.css";
@import "screen/option.css";

body{
    color: #2e363e;
    font-family: 'Open Sans', sans-serif;
}

.spot{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;    
    position: absolute;
    right: 20px;
    top: 45px;
}